* {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 50px;
    justify-content: center;
}

svg {
    transition: ease all .4s;
}

.button:active {
    transform: translateY(4px);
}

.button:hover {
    cursor: pointer;
}

.fosforoGrupo:hover {
    cursor: pointer;
}
body {
    background-color: #ececec;
}

/*Responsive*/

@media screen and (min-width: 400px) {
    svg {
        width: 390px;
        height: auto;
    }
}

@media screen and (min-width: 500px)  {
    svg {
        width: 480px;
    }
}
@media screen and (min-width: 660px ){
    svg {
        width: 640px;
    }
}

@media screen and (min-width: 720px ){
    svg {
        width: 700px;
    }
}