* {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 50px;
    justify-content: center;
}

.button:active {
    transform: translateY(4px);
}
.button:hover{
    cursor: pointer;
}

.todosOsFosforos{
    transition: ease all .5s;
}
.fosforoGrupo:hover{
    cursor: pointer;
}