* {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 50px;
    justify-content: center;
}

.jogoSvgTela {
    transition: ease all .4s;
}

.button:active {
    transform: translateY(4px);
}

.button:hover {
    cursor: pointer;
}

.fosforoGrupo:hover {
    cursor: pointer;
}
body {
    background-color: #ececec;
}

/*Responsive*/

@media screen and (max-width: 659px)  {
    .jogoSvgTela {
        height: auto;
        width: 90%;
        min-width: 340px;
    }
}
@media screen and (min-width: 660px ){
    .jogoSvgTela {
        width: 640px;
    }
}

@media screen and (min-width: 720px ){
    .jogoSvgTela {
        width: 710px;
    }
}